@import 'theme/colors.scss';

.pagination {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.pagination.hidden {
  display: none;
}

.pagination--item {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lightGray;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $blue;
  }

  &:hover > svg > path {
    fill: $blue;
  }
}

.pagination--item.active {
  font-weight: bold;
  color: $blue;
}

.pagination--icon {
  width: 24px;
  height: 24px;
  fill: $white;
  transition: all 0.3s ease-in-out;
}

.pagination--item.disabled {
  background: transparent;
}

.pagination--icon.disabled {
  path {
    fill: $blue;
  }
}
