@import 'theme/breakpoints';
@import 'theme/colors';

.repos {
  display: grid;
  grid-gap: 10px;

  @media (min-width: $md) {
    grid-template-columns: repeat(2, minmax(49%, 1fr));
  }

  @media (min-width: $lg) {
    grid-template-columns: repeat(3, minmax(30%, 1fr));
  }
}

.repos-repo {
  position: relative;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  background: $white;
  color: $gray;
  border-radius: 5px;
}

.repos-repo-name {
  color: $black;
  font-weight: bold;
}

.repos-repo-owner {
  color: $blue;
}

.repos-link {
  text-decoration: none;
  color: $gray;
}

.repos-repo > div {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.repos-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.repos-repo-icon {
  widows: 20px;
  height: 20px;
  margin-right: 5px;

  path {
    fill: $yellow;
  }
}

.repos--no-data {
  display: flex;
  flex-direction: column;
}

.repos--empty-icon {
  width: 60px;
  height: 60px;

  path {
    fill: $blue;
  }
}
